body {
    font-family: Arial, Helvetica, sans-serif;
}

#all {
    margin-top: 20px;
    /* center all elements */
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

#titlebar {
    height: fit-content;
    background-color: red;
    border: 5px solid gray;
    margin-bottom: 25px;
}

#seal {
    float: right;
    height: 75px;
}

h1 {
    font-size: 36pt;
    font-weight: 900;
    color: white;
    padding: 10px;
    margin-block: auto;
    font-variant: small-caps;
}

.entrytitle {
    font-size: 24pt;
    font-weight: 600;
    color: red;
    font-family: 'Times New Roman', Times, serif;
}

.entrydate {
    float: right;
    font-style: italic;
}

.entrycontents {
    margin-right: 50px;
}

.entryfooter {
    color: #666;
    font-style: italic;
    margin-top: 1ex;
    text-align: center;
}

.entry {
    border-top: 2px red solid;
}

.last {
    border-bottom: 2px red solid;
}

#memchu {
    display: block;
    margin-left: auto;
    margin-right: auto;
}