body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

img {
    float: left;
    height: 100px;
    margin-right: 20px;
    margin-bottom: 20px;
}

a:hover {
    color: blue;
}

span {
    color: red;
    font-weight: bold;
}

ul {
    overflow: hidden;
}
